<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /exercice5/public/
    
    # Si le fichier ou dossier n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirige tout vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>